/* Add styles here */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
h1{
    color: #000;
    font-family: Outfit;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

p{
    color: #433E3E;
    font-family: Outfit;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}

button{
    width: 100px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #243D66;
    color: white;
    font-size: 15px;
    font-family: Outfit;
    border: none;
}